.app {
  text-align: center;
}

.navbar__icons > * {
  animation: icon-spin infinite 10s linear;
  font-size: 10vmin;
  pointer-events: none;
}
.navbar__icons__icon-ccw {
  animation-delay: 1s;
  animation-direction: reverse;
}

.app__header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2em 0;
}

.servo,
.led {
  padding: 2em;
}

.add-control-button {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.servos,
.leds {
  width: 40%;
}

.navbar__title__version {
  background-color: red;
  color: white;
  padding: 0.2em;
  font-size: 0.4em;
  vertical-align: super;
}
